@keyframes slideInFromUp {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes slideOutFromDown {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.features-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #27272a;
  border-radius: 10px;
  transition: 0.1s;
}
.features-button:hover {
  background: #18181a;
}
.features-button[disabled] {
  background: #18181a;

  .amanogawa-logo {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='25' fill='none' viewBox='0 0 31 25' %3E%3Cpath fill='gray' d='M23.704 11.292a3.21 3.21 0 00-.124-.502c-.449-1.33-1.366-2.37-2.605-3.031a9.82 9.82 0 00-2.674-.961 10.967 10.967 0 00-2.712-.195c-.913.041-1.748.23-2.61.493-.216.066-.411.155-.617.239-.103.041-.203.09-.301.138-.098.048-.194.094-.287.146-.377.208-.752.41-1.105.656-.709.493-1.366 1.01-1.969 1.637a12.103 12.103 0 00-1.599 2.036c-.467.753-.836 1.55-1.114 2.415a7.16 7.16 0 00-.29 1.369c-.057.484-.056.998.032 1.51a3.062 3.062 0 00.78 1.584c.211.222.484.424.75.564.266.139.567.247.84.302.547.109 1.103.12 1.626.037.522-.082 1-.213 1.456-.416a7.748 7.748 0 002.36-1.608c.257-.251.191-.592-.016-.878-.207-.285-.738-.182-.87-.084l-.034.026c-.636.548-1.282.975-2.029 1.29a4.747 4.747 0 01-1.143.311c-.379.055-.762.056-1.108-.02-.346-.076-.605-.19-.846-.429-.24-.238-.34-.494-.41-.84a3.873 3.873 0 01-.033-1.109c.037-.374.11-.767.225-1.141.232-.748.554-1.47.963-2.142.41-.671.886-1.281 1.426-1.85a11.58 11.58 0 011.775-1.499 10.998 10.998 0 011.257-.734c.081-.04.166-.083.255-.12.179-.076.338-.154.533-.212a9.947 9.947 0 014.673-.307 7.737 7.737 0 012.305.783c4.19 2.195 1.52 7.302-.637 9.971-1.211 1.5-2.627 2.76-4.312 3.704-.375.21-.769.393-1.167.567a13.48 13.48 0 01-1.218.47c-.833.272-1.669.512-2.537.656-.868.144-1.74.228-2.624.211a10.223 10.223 0 01-2.616-.364 6.43 6.43 0 01-2.323-1.187 4.021 4.021 0 01-.851-.974 4.01 4.01 0 01-.518-1.182 8.191 8.191 0 01-.23-2.601c.06-.873.202-1.74.436-2.57a20.271 20.271 0 011.986-4.696c.855-1.472 1.861-2.743 3.029-3.95.584-.604 1.215-1.102 1.863-1.622a46.435 46.435 0 011.978-1.51s-.01.01.004-.003c.019-.018.049-.065.024-.108s-.08-.072-.129-.053c-.4.157-.782.347-1.154.557-.37.21-.724.43-1.077.665a12.78 12.78 0 00-1.987 1.596 21.81 21.81 0 00-3.155 4.047c-.452.748-.84 1.519-1.19 2.336-.35.816-.65 1.642-.883 2.524a13.71 13.71 0 00-.454 2.714c-.056.944.019 1.91.27 2.852.126.47.342.959.614 1.377.273.418.62.827 1.006 1.137a7.241 7.241 0 002.61 1.32c.938.26 1.86.362 2.8.374.94.013 1.84-.08 2.744-.243.903-.163 1.769-.394 2.621-.7.852-.305 1.682-.638 2.462-1.086a16.814 16.814 0 004.102-3.294c1.174-1.288 2.16-2.838 2.892-4.42.535-1.156 1.076-2.659.861-3.973zM16.892 3.038a.117.117 0 01.012.109l-.472 1.201a.118.118 0 00.141.157l1.24-.357a.12.12 0 01.109.022l.996.82a.118.118 0 00.193-.087l.045-1.29a.118.118 0 01.054-.094l1.087-.695a.118.118 0 00-.023-.21l-1.212-.44a.12.12 0 01-.074-.081l-.324-1.25a.118.118 0 00-.207-.042l-.794 1.016a.117.117 0 01-.1.045l-1.288-.078a.118.118 0 00-.105.184l.722 1.07zM21.044 5.533l1.473.13a.135.135 0 01.105.068l.728 1.287c.055.098.197.09.241-.014l.579-1.36a.135.135 0 01.097-.08l1.449-.295a.135.135 0 00.062-.234l-1.116-.97a.134.134 0 01-.046-.117l.168-1.47a.135.135 0 00-.204-.13l-1.268.76a.134.134 0 01-.126.008l-1.345-.614a.135.135 0 00-.188.153l.332 1.44a.136.136 0 01-.032.122l-1 1.09a.137.137 0 00.09.226zM24.793 8.82L26.2 9.7a.15.15 0 01.07.121l.075 1.657c.006.125.153.19.249.108l1.27-1.066a.153.153 0 01.137-.03l1.598.44a.152.152 0 00.181-.202l-.623-1.537a.151.151 0 01.014-.14l.914-1.384a.151.151 0 00-.136-.235l-1.655.117a.15.15 0 01-.128-.057l-1.034-1.296a.152.152 0 00-.266.058l-.4 1.61a.15.15 0 01-.094.104l-1.552.583a.152.152 0 00-.027.27zM22.626 22.028l-.829.125a.075.075 0 01-.067-.023l-.573-.612a.077.077 0 00-.131.04l-.138.827a.076.076 0 01-.043.057l-.76.356a.076.076 0 00-.002.136l.744.386a.079.079 0 01.041.06l.104.832c.008.062.085.09.13.044l.597-.588a.078.078 0 01.068-.021l.823.158a.077.077 0 00.083-.11l-.375-.749a.077.077 0 01.001-.07l.405-.735a.076.076 0 00-.078-.113zM25.975 20.08a.111.111 0 01-.03-.098l.216-1.193a.11.11 0 00-.16-.118l-1.078.554a.11.11 0 01-.102 0l-1.068-.575a.11.11 0 00-.162.115l.194 1.197a.109.109 0 01-.033.098l-.876.837a.111.111 0 00.06.19l1.197.185a.114.114 0 01.083.06l.526 1.092a.11.11 0 00.198.002l.547-1.081a.11.11 0 01.084-.06l1.2-.163a.11.11 0 00.063-.187l-.859-.856zM30.585 14.619l-1.799-.58a.177.177 0 01-.113-.115l-.541-1.813a.173.173 0 00-.306-.052l-1.108 1.532a.17.17 0 01-.144.071l-1.891-.045a.173.173 0 00-.144.275l1.115 1.527a.17.17 0 01.023.159l-.627 1.784a.173.173 0 00.217.222l1.797-.588a.172.172 0 01.159.027l1.502 1.147a.173.173 0 00.278-.137l-.004-1.891c0-.057.028-.11.075-.143l1.555-1.075a.172.172 0 00-.044-.305z' %3E%3C/path%3E%3Cpath fill='gray' d='M12.524 3.587a.086.086 0 01.034.073l-.05.956a.088.088 0 00.137.077l.788-.542a.09.09 0 01.08-.01l.894.343a.087.087 0 00.115-.107l-.272-.918a.089.089 0 01.016-.08l.602-.744a.088.088 0 00-.066-.143l-.957-.025a.088.088 0 01-.07-.04l-.523-.802a.087.087 0 00-.155.018l-.32.902a.087.087 0 01-.06.055l-.924.248a.088.088 0 00-.03.154l.76.585z' %3E%3C/path%3E%3C/svg%3E");
  }
}

.amanogawa-logo {
  display: inline-block;
  width: 31px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 31 25' %3E%3Cpath fill='white' d='M23.704 11.292a3.21 3.21 0 00-.124-.502c-.449-1.33-1.366-2.37-2.605-3.031a9.82 9.82 0 00-2.674-.961 10.967 10.967 0 00-2.712-.195c-.913.041-1.748.23-2.61.493-.216.066-.411.155-.617.239-.103.041-.203.09-.301.138-.098.048-.194.094-.287.146-.377.208-.752.41-1.105.656-.709.493-1.366 1.01-1.969 1.637a12.103 12.103 0 00-1.599 2.036c-.467.753-.836 1.55-1.114 2.415a7.16 7.16 0 00-.29 1.369c-.057.484-.056.998.032 1.51a3.062 3.062 0 00.78 1.584c.211.222.484.424.75.564.266.139.567.247.84.302.547.109 1.103.12 1.626.037.522-.082 1-.213 1.456-.416a7.748 7.748 0 002.36-1.608c.257-.251.191-.592-.016-.878-.207-.285-.738-.182-.87-.084l-.034.026c-.636.548-1.282.975-2.029 1.29a4.747 4.747 0 01-1.143.311c-.379.055-.762.056-1.108-.02-.346-.076-.605-.19-.846-.429-.24-.238-.34-.494-.41-.84a3.873 3.873 0 01-.033-1.109c.037-.374.11-.767.225-1.141.232-.748.554-1.47.963-2.142.41-.671.886-1.281 1.426-1.85a11.58 11.58 0 011.775-1.499 10.998 10.998 0 011.257-.734c.081-.04.166-.083.255-.12.179-.076.338-.154.533-.212a9.947 9.947 0 014.673-.307 7.737 7.737 0 012.305.783c4.19 2.195 1.52 7.302-.637 9.971-1.211 1.5-2.627 2.76-4.312 3.704-.375.21-.769.393-1.167.567a13.48 13.48 0 01-1.218.47c-.833.272-1.669.512-2.537.656-.868.144-1.74.228-2.624.211a10.223 10.223 0 01-2.616-.364 6.43 6.43 0 01-2.323-1.187 4.021 4.021 0 01-.851-.974 4.01 4.01 0 01-.518-1.182 8.191 8.191 0 01-.23-2.601c.06-.873.202-1.74.436-2.57a20.271 20.271 0 011.986-4.696c.855-1.472 1.861-2.743 3.029-3.95.584-.604 1.215-1.102 1.863-1.622a46.435 46.435 0 011.978-1.51s-.01.01.004-.003c.019-.018.049-.065.024-.108s-.08-.072-.129-.053c-.4.157-.782.347-1.154.557-.37.21-.724.43-1.077.665a12.78 12.78 0 00-1.987 1.596 21.81 21.81 0 00-3.155 4.047c-.452.748-.84 1.519-1.19 2.336-.35.816-.65 1.642-.883 2.524a13.71 13.71 0 00-.454 2.714c-.056.944.019 1.91.27 2.852.126.47.342.959.614 1.377.273.418.62.827 1.006 1.137a7.241 7.241 0 002.61 1.32c.938.26 1.86.362 2.8.374.94.013 1.84-.08 2.744-.243.903-.163 1.769-.394 2.621-.7.852-.305 1.682-.638 2.462-1.086a16.814 16.814 0 004.102-3.294c1.174-1.288 2.16-2.838 2.892-4.42.535-1.156 1.076-2.659.861-3.973zM16.892 3.038a.117.117 0 01.012.109l-.472 1.201a.118.118 0 00.141.157l1.24-.357a.12.12 0 01.109.022l.996.82a.118.118 0 00.193-.087l.045-1.29a.118.118 0 01.054-.094l1.087-.695a.118.118 0 00-.023-.21l-1.212-.44a.12.12 0 01-.074-.081l-.324-1.25a.118.118 0 00-.207-.042l-.794 1.016a.117.117 0 01-.1.045l-1.288-.078a.118.118 0 00-.105.184l.722 1.07zM21.044 5.533l1.473.13a.135.135 0 01.105.068l.728 1.287c.055.098.197.09.241-.014l.579-1.36a.135.135 0 01.097-.08l1.449-.295a.135.135 0 00.062-.234l-1.116-.97a.134.134 0 01-.046-.117l.168-1.47a.135.135 0 00-.204-.13l-1.268.76a.134.134 0 01-.126.008l-1.345-.614a.135.135 0 00-.188.153l.332 1.44a.136.136 0 01-.032.122l-1 1.09a.137.137 0 00.09.226zM24.793 8.82L26.2 9.7a.15.15 0 01.07.121l.075 1.657c.006.125.153.19.249.108l1.27-1.066a.153.153 0 01.137-.03l1.598.44a.152.152 0 00.181-.202l-.623-1.537a.151.151 0 01.014-.14l.914-1.384a.151.151 0 00-.136-.235l-1.655.117a.15.15 0 01-.128-.057l-1.034-1.296a.152.152 0 00-.266.058l-.4 1.61a.15.15 0 01-.094.104l-1.552.583a.152.152 0 00-.027.27zM22.626 22.028l-.829.125a.075.075 0 01-.067-.023l-.573-.612a.077.077 0 00-.131.04l-.138.827a.076.076 0 01-.043.057l-.76.356a.076.076 0 00-.002.136l.744.386a.079.079 0 01.041.06l.104.832c.008.062.085.09.13.044l.597-.588a.078.078 0 01.068-.021l.823.158a.077.077 0 00.083-.11l-.375-.749a.077.077 0 01.001-.07l.405-.735a.076.076 0 00-.078-.113zM25.975 20.08a.111.111 0 01-.03-.098l.216-1.193a.11.11 0 00-.16-.118l-1.078.554a.11.11 0 01-.102 0l-1.068-.575a.11.11 0 00-.162.115l.194 1.197a.109.109 0 01-.033.098l-.876.837a.111.111 0 00.06.19l1.197.185a.114.114 0 01.083.06l.526 1.092a.11.11 0 00.198.002l.547-1.081a.11.11 0 01.084-.06l1.2-.163a.11.11 0 00.063-.187l-.859-.856zM30.585 14.619l-1.799-.58a.177.177 0 01-.113-.115l-.541-1.813a.173.173 0 00-.306-.052l-1.108 1.532a.17.17 0 01-.144.071l-1.891-.045a.173.173 0 00-.144.275l1.115 1.527a.17.17 0 01.023.159l-.627 1.784a.173.173 0 00.217.222l1.797-.588a.172.172 0 01.159.027l1.502 1.147a.173.173 0 00.278-.137l-.004-1.891c0-.057.028-.11.075-.143l1.555-1.075a.172.172 0 00-.044-.305z' %3E%3C/path%3E%3Cpath fill='white' d='M12.524 3.587a.086.086 0 01.034.073l-.05.956a.088.088 0 00.137.077l.788-.542a.09.09 0 01.08-.01l.894.343a.087.087 0 00.115-.107l-.272-.918a.089.089 0 01.016-.08l.602-.744a.088.088 0 00-.066-.143l-.957-.025a.088.088 0 01-.07-.04l-.523-.802a.087.087 0 00-.155.018l-.32.902a.087.087 0 01-.06.055l-.924.248a.088.088 0 00-.03.154l.76.585z' %3E%3C/path%3E%3C/svg%3E");
}

#buttons-block button {
  height: 48px;
  width: 100%;
}

#settings-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

select {
  padding: 5px;
  border: 1px solid black;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
  border-radius: 0.625rem;
  background-color: hsl(var(--secondary) / 0.3);
  border-color: hsl(var(--secondary) / 0.6);
}
.team-selects {
  display: flex;
  gap: 1rem;
}
.team-select {
  flex: 1;
  width: 100%;
}
.player-block {
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
  display: block;
}
a.watari-link {
  color: hsl(var(--primary));
  display: block;
}
a.watari-link:hover {
  text-decoration-line: underline;
}

#optionSetting input {
  margin-right: 10px;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-exit-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-exit-to {
  transform: translateX(10px);
  opacity: 0;
}

.vertical-slide-fade-enter-active {
  transition: all 0.3s ease;
}
.vertical-slide-fade-exit-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.vertical-slide-fade-exit-to {
  transform: translateY(10px);
  opacity: 0;
}

.vertical-slide-fade-enter {
  transform: translateY(-10px);
  opacity: 0;
}

.vertical-slide-fade-revert-enter-active {
  transition: all 0.3s ease;
}
.vertical-slide-fade-revert-exit-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.vertical-slide-fade-revert-enter,
.vertical-slide-fade-revert-exit-to {
  transform: translateY(-10px);
  opacity: 0;
}

.slide-enter-active,
.slide-exit-active {
  transition: all 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}

.slide-enter,
.slide-exit-to {
  height: 0%;
}

.tabler--circle-arrow-right-filled {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='m12 2l.324.005a10 10 0 1 1-.648 0zm.613 5.21a1 1 0 0 0-1.32 1.497L13.584 11H8l-.117.007A1 1 0 0 0 8 13h5.584l-2.291 2.293l-.083.094a1 1 0 0 0 1.497 1.32l4-4l.073-.082l.064-.089l.062-.113l.044-.11l.03-.112l.017-.126L17 12l-.007-.118l-.029-.148l-.035-.105l-.054-.113l-.071-.111a1 1 0 0 0-.097-.112l-4-4z'/%3E%3C/svg%3E");
}

#u-char-button,
#next-edit-button {
  padding: 10px;
  height: 38px;
  width: 38px;
}

.team-selects {
  display: flex;

  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.team-selects > * {
  flex: 1;
}

#ani-buttons,
#teams-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    line-height: 1.25;
    border-radius: 0.25rem;
    transition: 0.1s;
  }

  a:hover {
    background-color: hsl(var(--secondary) / 0.6);
  }

  a.link-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  img {
    border-radius: 0.25rem;
  }

  .skeleton {
    border-radius: 0.25rem;
  }
}

#ani-buttons div {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

#teams-block {
  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  span {
    display: flex;
    border-radius: 0.25rem;
    align-items: center;
    justify-content: center;
    background-color: #27272a;
    width: 32px;
    height: 32px;
  }
}

.pr-8 {
  padding-right: 2rem /* 32px */;
}

.pl-2 {
  padding-left: 0.5rem /* 8px */;
}

.player-block {
  display: flex;
  justify-content: center;

  .next-episode-button {
    position: absolute;
    border-radius: 6px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    height: 24px;
    padding-inline: 0.5rem;
    top: 0.5rem;
    z-index: 1;
  }
}

.watch-button-toggled {
  background-color: hsl(var(--secondary) / 0.6);
  color: hsl(var(--secondary-foreground));
}

[data-corvu-disclosure-trigger] {
  display: flex;
  width: fit-content;
}

[data-corvu-disclosure-content] {
  overflow: hidden;
}

[data-corvu-disclosure-content][data-collapsed] {
  animation: collapse 200ms ease-in-out;
}

[data-corvu-disclosure-content][data-expanded] {
  animation: expand 200ms ease-in-out;
}

@keyframes expand {
  0% {
    height: 0px;
  }
  100% {
    height: var(--corvu-disclosure-content-height);
  }
}

@keyframes collapse {
  0% {
    height: var(--corvu-disclosure-content-height);
  }
  100% {
    height: 0px;
  }
}

#localized-poster-button {
  bottom: 0.5rem;
  right: 3rem;
}

#localized-poster {
  top: 0;
  left: 0;
}

#reader {
  position: relative;
  background-color: hsl(var(--secondary) / 0.3);
  border-color: hsl(var(--secondary) / 0.6);
  border-width: 1px;
  border-radius: var(--radius);

  img {
    width: 65%;
  }

  .reader-item {
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
  }

  .reader-carousel-content {
    height: 700px;
  }

  .reader-images {
    justify-content: center;
  }
}

.reader-bar {
  display: flex;
  height: 57.6px;
  padding: 0.3rem;
  padding-left: 15px;
  border-radius: var(--radius);
  background-color: #27272a;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1rem;
}

.number-field-input {
  border-radius: 3px;
  height: 20px;
  width: 20px;
  padding-inline: 0;
}

reader-image-skeleton {
  width: 50%;
  height: 83%;
}
