#buttons-block {
  button {
    background: #27272a;
    height: 48px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: 0.1s;
  }
  button:hover {
    background: #18181a;
  }
  button[disabled] {
    background: #18181a;
  }
}

@keyframes slideInFromUp {
  0% {
    height: 0px;
  }
  100% {
    height: 100px;
  }
}

#settings-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100px;
  animation: 0.5s cubic-bezier(0.77, 0, 0.18, 1) 0s 1 slideInFromUp;
}
