@keyframes slideInFromUp {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

#buttons-block {
  button {
    background: #27272a;
    height: 48px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: 0.1s;
  }
  button:hover {
    background: #18181a;
  }
  button[disabled] {
    background: #18181a;
  }
}

#settings-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100px;
  animation: 0.5s cubic-bezier(0.77, 0, 0.18, 1) 0s 1 slideInFromUp;
}

#cover {
  animation: 0.5s cubic-bezier(0.77, 0, 0.18, 1) 0s 1 slideInFromUp;
}

select {
  padding: 5px;
  border: 1px solid black;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
  border-radius: 0.625rem;
  background-color: hsl(var(--secondary) / 0.3);
  border-color: hsl(var(--secondary) / 0.6);
}
.team-selects {
  display: flex;
  gap: 1rem;
}
.team-select {
  flex: 1;
  width: 100%;
}
.player-block {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}
a.watari-link {
  color: hsl(var(--primary));
  display: block;
}
a.watari-link:hover {
  text-decoration-line: underline;
}
