@keyframes slideInFromUp {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes slideOutFromDown {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

#buttons-block {
  button {
    background: #27272a;
    height: 48px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: 0.1s;
  }
  button:hover {
    background: #18181a;
  }
  button[disabled] {
    background: #18181a;
  }
}

#settings-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#cover {
  animation: 0.5s cubic-bezier(0.77, 0, 0.18, 1) 0s 1 slideInFromUp;
  animation-iteration-count: 1;
}

select {
  padding: 5px;
  border: 1px solid black;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
  border-radius: 0.625rem;
  background-color: hsl(var(--secondary) / 0.3);
  border-color: hsl(var(--secondary) / 0.6);
}
.team-selects {
  display: flex;
  gap: 1rem;
}
.team-select {
  flex: 1;
  width: 100%;
}
.player-block {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}
a.watari-link {
  color: hsl(var(--primary));
  display: block;
}
a.watari-link:hover {
  text-decoration-line: underline;
}

#optionSetting input {
  margin-right: 10px;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-exit-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-exit-to {
  transform: translateX(10px);
  opacity: 0;
}

.slide-exit-to {
  transform: translateY(-100%);
}

.tabler--settings {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066-2.573c-.94-1.543.826-3.31 2.37-2.37c1 .608 2.296.07 2.572-1.065'/%3E%3Cpath d='M9 12a3 3 0 1 0 6 0a3 3 0 0 0-6 0'/%3E%3C/g%3E%3C/svg%3E");
}

.tabler--movie {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='gray' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm4-2v16m8-16v16M4 8h4m-4 8h4m-4-4h16m-4-4h4m-4 8h4'/%3E%3C/svg%3E");
}

#floating {
  position: absolute;
  width: max-content;
  top: 0;
  left: 0;
  margin-top: 100%;
  margin-bottom: 100%;
}
