@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 321 70% 69%;
    --primary-foreground: 321 85% 0%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 358 69% 52%;
    --destructive-foreground: 0 0% 100%;

    --warning: 37.43 91.3% 54.9%;
    --warning-foreground: 0 0% 0%;

    --success: 166.53 72.41% 60.2%;
    --success-foreground: 0 0% 0%;

    --info: 212.2 100% 59.8%;
    --info-foreground: 0 0% 0%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.625rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 321 70% 69%;
    --primary-foreground: 321 85% 0%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 358 69% 52%;
    --destructive-foreground: 0 0% 100%;

    --warning: 37.43 91.3% 54.9%;
    --warning-foreground: 0 0% 0%;

    --success: 166.53 72.41% 60.2%;
    --success-foreground: 0 0% 0%;

    --info: 212.2 100% 59.8%;
    --info-foreground: 0 0% 0%;

    --border: 240 3.7% 10%;
    --input: 240 3.7% 10%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.625rem;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    & .no-gradient {
      background-image: none !important;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  @font-face {
    font-family: "UnitySans";
    src: url("/fonts/UnitySans-Basic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  body {
    @apply font-inter;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

.vertical-slide-fade-enter-active {
  transition: all 0.3s ease;
}
.vertical-slide-fade-exit-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.vertical-slide-fade-exit {
  transform: translateY(10px);
  opacity: 0;
}

.vertical-slide-fade-enter {
  transform: translateY(-10px);
  opacity: 0;
}

@layer base {
  * {
    @apply border-border;
  }
  /* body {
    @apply bg-background text-foreground;
  } */
}
