name: Build and Publish extension

on:
  push:
    tags:
      - v*
  workflow_dispatch:

permissions:
  contents: write

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Zip extensions
        run: |
          pnpm run zip
          pnpm run zip:firefox
    
      - name: Submit to stores
        run: |
          pnpm wxt submit \
            --chrome-zip .output/*-chrome.zip \
            --firefox-zip .output/*-firefox.zip --firefox-sources-zip .output/*-sources.zip \
            --firefox-extension-id ${{ secrets.FIREFOX_EXTENSION_ID }} --firefox-jwt-issuer ${{ secrets.FIREFOX_JWT_ISSUER }} --firefox-jwt-secret ${{ secrets.FIREFOX_JWT_SECRET }} \
            --chrome-extension-id ${{ secrets.CHROME_EXTENSION_ID }} --chrome-client-id ${{ secrets.CHROME_CLIENT_ID }} --chrome-client-secret ${{ secrets.CHROME_CLIENT_SECRET }} \
            --chrome-refresh-token ${{ secrets.CHROME_REFRESH_TOKEN }}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          draft: false
          prerelease: false
          files: |
            .output/*-chrome.zip
            .output/*-firefox.zip
            .output/*-sources.zip
